<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="1">
  <test  name="Chrome">
  <parameter name="browser" value="Chrome"/>
		<classes>
    	 <class name="Testcases.TC_Plan_Single_City_Vacation_Testcases" />
   	   </classes>
  </test>
</suite> 
